@import "tailwindcss";

@theme {
  --color-blue-dark: #004475;
  --color-blue: #0c6aae;
  --color-blue-light: #2d89cc;
  --color-yellow-dark: #e1b827;
  --color-yellow: #ffe200;
  --grey-light: #e1b827;
  --color-teal: #49b4aa;
  --color-pink-dark: #ea516d;
  --color-valid: #17a500;
  --color-error: #f05535;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}

* {
  box-sizing: border-box;
}

/* Reset only specific elements instead of all elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
html {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
