@import "tailwindcss";

@theme {
  --color-blue-darkest: #0e325b;
  --color-blue-dark: #004475;
  --color-blue: #0c6aae;
  --color-blue-light: #2d89cc;
  --color-blue-lighter: #c2e2fe;
  --color-yellow-dark: #e1b827;
  --color-yellow: #ffe200;
  --color-teal: #49b4aa;
  --color-grey: #9097a0;
  --color-grey-light: #f5f5f5;
  --color-pink-dark: #ea516d;
  --color-valid: #17a500;
  --color-error: #f05535;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --shadow-yellow-dark: 0 5px 0 0 var(--color-yellow-dark);
  --shadow-blue-dark: 0 5px 0 0 var(--color-blue-dark);
  --shadow-blue-darkest: 0 5px 0 0 var(--color-blue-darkest);
  --inset-shadow-white: inset -5px -5px 0 0 rgba(255, 255, 255, 0.2);
}

* {
  box-sizing: border-box;
}

/* Reset only specific elements instead of all elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
body,
html {
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
