@import "tailwindcss";

@theme {
  --color-blue-dark: #004475;
  --color-blue: #0C6AAE;
  --color-blue-light: #2D89CC;
  --color-yellow-dark: #E1B827;
  --color-yellow: #FFE200;
  --grey-light: #E1B827;
  --color-valid: #17A500;
  --color-error: #F05535;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
